body{

    width: 100%;
    height: 3.5rem; 
    background-color: rgb(63, 117, 148);

}

.main-header{
            width:100%;
            height: 3.5rem;
            background-color: rgb(107, 158, 218);
        }